@(topicForm: play.data.Form[Application.NewTopicData])

@import bootstrap3._

<fieldset>
    <div id="legend" class="page-header">
        <h1>New topic</h1>
    </div>

    @text(topicForm("topicName"),
            label = "Topic name",
            placeholder = "",
            help = "Please enter topic name (required)")

    @text(topicForm("topicSubject"), label = "Subject", placeholder = "", help = "Please enter subject (optional)")

    @textarea(topicForm("topicComment"), label = "Comment", placeholder = "", help = "Pleace enter comment (required)")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
            <button id="cancel" class="btn cancel">Cancel</button>
        </div>
    </div>
</fieldset>