@(topicList: List[Topic])

@import helper._

@main("Topics") {
    @form(routes.Application.newTopic()) {
        <button id="newTopicBtn" type="submit" class="btn btn-primary" value="newTopic">Create new topic</button>

        <table class="table">
            <th>
                <td>Topic name</td>
                <td>Topic subject</td>
                <td>Topic creation date</td>
            </th>
            <tr>
            @for(topic <- topicList) {
                <td>topic.topicName</td>
                <td>topic.topicSubject</td>
                <td>topic.creationDate</td>
            }
            </tr>
        </table>

        <script type="text/javascript">
            #('#newTopicBtn').click(function(evt){
                $.ajax({
                    type: 'GET',
                    url: '@routes.Application.newTopic()'
                });
            })
        </script>
    }
}