@(topicList: List[Topic])

@import helper._

@main("Topics") {
    @form(routes.Application.newTopic()) {
        <button id="newTopicBtn" type="submit" class="btn btn-primary" value="newTopic">Create new topic</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Topic name</th>
                    <th>Topic subject</th>

                </tr>
            </thead>

            <tbody>

                @for(topic <- topicList) {
                    <tr>
                        <td>@topic.topicName</td>
                        <td>@topic.topicSubject</td>

                    </tr>
                }

            </tbody>

        </table>

        <script type="text/javascript">
            #('#newTopicBtn').click(function(evt){
                $.ajax({
                    type: 'GET',
                    url: '@routes.Application.newTopic()'
                });
            })
        </script>
    }
}